<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <style>
        body {
        padding: 0;
        margin: 0;
        font-family: sans-serif;
        }
        main {
        padding: 1rem;
        }
        ul {
            list-style: none;
            display: flex;
        }
        li {
            padding-right: 50px;
        }
        button {
            padding: 7px 10px;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Main</a></li>
                <li><a class="active" href="/add-user">Add User</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Add User</h1>
        <!-- <form action="/add-user" method="POST">
            <div>
                <label for="title">Name</label>
                <input type="text" name="name">
            </div>
            <button type="submit">Send</button>
        </form> -->
    </main>
    <script src="/main.js"></script>
</body>
</html>